<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="host">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Host</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="summary">
      <ion-icon name="albums-outline"></ion-icon>
      <ion-label>Summary</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>