<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="card">
    <div class="header">
      <div class="avatar">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" alt="">
      </div>
    </div>
    <ion-button expand="block" size="small" fill="clear">edit</ion-button>
  </div>
  <ion-item>
      <ion-label position="floating" color="medium">First Name</ion-label>
      <ion-input></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="floating" color="medium">Last Name</ion-label>
      <ion-input></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="floating" color="medium">Phone Number</ion-label>
      <ion-input></ion-input>
  </ion-item>
</ion-content>