.card {
margin: 0 auto;

.header {
height: 135px;

.avatar {
width: 125px;
height: 50px;
position: relative;
margin: 0 auto;

img {
width: 125px;
height: 125px;
object-fit: cover;
display: block;
border-radius: 50%;
position: absolute;
margin-left: auto;
margin-right: auto;
bottom: calc(-1*(80px + 4px));
//border: 2px solid #000;
background-color: #fff;
            }  
        }
    }
}