<ion-header translucent>
  <ion-toolbar>
      <ion-title>Profile</ion-title>
      <ion-buttons slot="primary">
          <ion-button disabled={{changed}} (click)="save()">Save</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>     

<ion-content padding>
  <div class="card">
    <div class="header">
      <div class="avatar">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" alt="">
      </div>
    </div>
    <ion-button expand="block" size="small" fill="clear">edit</ion-button>
  </div>
  <div *ngIf="profile$ | async as pf">
    <ion-item>
        <ion-label position="floating" color="medium">Name</ion-label>
        <ion-input [ngModel]="name" (ngModelChange)="enableSave($event)"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating" color="medium">Phone Number</ion-label>
        <ion-input value={{pf.phonenumber}}></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating" color="medium">Email</ion-label>
        <ion-input [ngModel]="username"></ion-input>
    </ion-item>
  </div>
  <ion-col> 
    <ion-button expand="full" (click)="logout()">LOGOUT</ion-button>
  </ion-col>
</ion-content>