<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      ParkME
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Welcome, {{displayname}}!</ion-label>
  </ion-item>
  <div>
    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let lot of lots">
        <ion-card-content>
          <ion-card-title>
            <ion-label>Location: {{lot.location}}</ion-label>
          </ion-card-title>
          <ion-label>
            status: {{lot.status}}
          </ion-label>
          <img *ngIf="lot.url" [src]="lot.url" />
          <ion-button *ngIf="!lot.user===user && !lot.status; else notuser" color="light" expand="full" >booked</ion-button>
          <ng-template #notuser>
            <ion-button expand="full" *ngIf="lot.status; else reserved" color="success" (click)="bookCarpark(lot.key)">
              Book</ion-button>
            <ng-template #reserved>
              <ion-button expand="full" color="danger" (click)="unbookCarpark(lot.key)">Unbook</ion-button>
            </ng-template>
          </ng-template>
        </ion-card-content>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>